#content-list {
  width: 100%;
  margin-top: 1rem;
}

#content > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
